body {
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

#main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#left-nav {
  width: 100%;
  max-width: 200px;
  background-color: #4325ff;
  color: white;
  overflow: auto;
}

#left-nav-title {
  padding: 1em;
  text-align: center;
}

#left-nav-content {
  padding: 1em;
}

#content {
  flex-grow: 1;
  padding: 2em;
}

.playgroundVirtualList {
  margin-top: 10px;
  width: 600px;
  height: 400px;
  border: 1px solid black;
}

.pjs-vl-viewport {
  overflow: auto;
  position: relative;
}

.pgs-vl-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.pgs-vl-page-row {
  height: 60px;
  overflow: hidden;
}